apiVersion: v1
kind: ConfigMap
metadata:
  name: backup-config
  namespace: kube-system
data:
  sh-do-etcd-backup: |
   #!/bin/sh
   set -x
   echo "running etcd backup"
   DATE=$(date +{{ k8s_backups_date_format }})
   TEMP_DIR=$(mktemp -d)
   cd $TEMP_DIR
   /usr/local/bin/etcdctl \
    --endpoints=https://127.0.0.1:2379 \
    --cacert={{ etcd_trusted_ca_file }} \
    --cert={{ etcd_cert_file }} \
    --key={{ etcd_key_file }} \
    snapshot save etcd-snapshot-$DATE.db
   tar -cvzf etcd-$DATE.tar.gz *
   mv etcd-$DATE.tar.gz {{ k8s_backups_destination }}/
   rm -rf $TEMP_DIR/
  sh-do-etcd-keys-backup: |
   #!/bin/sh
   set -x
   echo "running etcd keys backup"
   NODE=$1
   DATE=$(date +{{ k8s_backups_date_format }})
   TEMP_DIR=$(mktemp -d)
   cd $TEMP_DIR
{% for directory in k8s_backups_directories_on_etcd %}
   tar -cvzf $NODE-{{ directory.name }}-$DATE.tar.gz {{ directory.path }}
{% endfor %}
   tar -cvzf etcd-keys-$NODE-$DATE.tar.gz *
   mv etcd-keys-$NODE-$DATE.tar.gz {{ k8s_backups_destination }}/
   rm -rf $TEMP_DIR/
  sh-master-backup: |
   #!/bin/sh
   set -x
   echo "running master backup"
   NODE=$1
   DATE=$(date +{{ k8s_backups_date_format }})
   TEMP_DIR=$(mktemp -d)
   cd $TEMP_DIR
{% for directory in k8s_backups_directories_on_masters %}
   tar -cvzf master-{{ directory.name }}-$DATE.tar.gz {{ directory.path }}
{% endfor %}
   tar -cvzf masters-$NODE-$DATE.tar.gz *
   mv masters-$NODE-$DATE.tar.gz {{ k8s_backups_destination }}/
   rm -rf $TEMP_DIR/
  sh-do-clean: |
   #!/bin/sh
   set -x
   echo "running clean"
   find {{ k8s_backups_destination }}/* -mtime +{{ k8s_backups_retain }} -exec rm {} \;
