apiVersion: v1
kind: ConfigMap
metadata:
  name: backup-config
  namespace: kube-system
data:
  sh-do-master-backup: |
   #!/bin/sh
   set -eo pipefail
   echo "running master backup"
   NODE=$1
   DATE=$(date +{{ m7s_k8s_backups_date_format }})
   TEMP_DIR=$(mktemp -d)
   cd $TEMP_DIR
   tar cvzf masters-$NODE-$DATE.tar.gz {{ m7s_k8s_backups_directory_on_master }}
   mv masters-$NODE-$DATE.tar.gz {{ m7s_k8s_backups_destination }}/
   rm -rf $TEMP_DIR/
  sh-do-clean: |
   #!/bin/sh
   set -eo pipefail
   echo "running clean"
   find {{ m7s_k8s_backups_destination }}/* -mtime +{{ m7s_k8s_backups_retain }} -exec rm {} \;
