apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: m7s-backup-masters-{{ inventory_hostname }}
  namespace: kube-system
spec:
  schedule: "{{ m7s_k8s_backups_master_schedule }}"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: backup-master-key
            image: alpine:3.10
            command: ["/bin/sh"]
            args: 
              - -c
              - sh /root/backup/do-backup.sh {{ inventory_hostname }} && sh /root/clean/do-clean.sh
            volumeMounts:
            - name: do-backup-volume
              mountPath: /root/backup
            - name: do-clean-volume
              mountPath: /root/clean
            - name: kubernetes-dir
              mountPath: {{ m7s_k8s_backups_directory_on_master }}
              readOnly: true
            - name: backup-volume
              mountPath: {{ m7s_k8s_backups_destination }}         
          restartPolicy: OnFailure
          nodeSelector:
            kubernetes.io/hostname: "{{ inventory_hostname }}"
          tolerations:
          - effect: NoSchedule
            operator: Exists
          hostNetwork: true
          volumes:
          - name: do-backup-volume
            configMap:
              name: backup-config
              items:
              - key: sh-do-master-backup
                path: do-backup.sh
          - name: do-clean-volume
            configMap:
              name: backup-config
              items:
              - key: sh-do-clean
                path: do-clean.sh
          - name: backup-volume
            hostPath:
              path: {{ m7s_k8s_backups_destination }}
              type: Directory
          - name: kubernetes-dir
            hostPath:
              path: {{ m7s_k8s_backups_directory_on_master }}
              type: Directory
